

body{
    font-family: Helvetica;
    margin:0;
    padding:0;
}
ul{
    padding:0;
    margin:0;
}

li{
    list-style:none;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.preview{
    background-image: url('images/img-video.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview li{
    display: inline-block;
}
.preview  a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;

}
header{
    position: absolute;
    top:10px;

}
.title>span{
    font-size:65px;
    text-align: center;
}
.btn{
    display:block;
}