@import "main.css";

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

form.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 555px;
}

.fieldset {
  display: flex;
  flex-direction: row;

}

.fieldset label {
  flex: 1 1 auto;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.fieldset label span {
  font-size: 12px;
  line-height: 21px;
  color: #0d2731;
  font-weight: bold;
}

input[type=text],
textarea {

  border: 1px solid #d2dadd;
  box-sizing: border-box;
  height: 40px;
  width: 100%;

  padding-left: 10px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 170px;
  padding-top: 10px;
}

form .btn {
  align-self: center;
  margin: 40px;
}

.location {
  display: flex;
  justify-content: center;
}

.location-icon {
  display: inline-block;

  width: 13px;
  height: 19px;

  margin: 5px;
  vertical-align: middle;

  background-image: url('../images/map-pointer.png');
}

.location-address {
  padding: 40px 0px;
  font-size: 13px;
  color: rgba(13, 39, 49, 0.65);
}

.location-map {
  display: flex;
  align-self: center;
  height: 265px;
  width: 100vw;
  border: none;
}
