body{
    /* todo: add fonts */
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.preview{
    background-image: url('../images/img-video.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width:141px;
    height:55px;
    background: url("../images/logo.png") no-repeat 0 0;
}

.preview  a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;

}

.title>span{
    font-size:65px;
    text-align: center;
}
.btn{
    text-transform: uppercase;
}
.btn-gradient{
    font-size: 14px;
    color:white;
    padding: 15px 25px;
    background-image: linear-gradient(270deg, #1DC8D6 0%, #7E80F0 100%);
    border-radius: 100px;
}


