@media only screen and (max-width: 1030px) {
  header {
    /* decrease h-paddings */
    padding-left: 30px;
    padding-right: 30px;
  }


  footer nav{
    /* decrease h-paddings */
    padding-left: 20px;
    padding-right: 20px;
  }

}



/*todo: jat nije v procentah */
@media only screen and (max-width: 930px) {
  
}


@media only screen and (max-width: 780px) {
  .portfolio article{
    /*todo: get rid of importants*/
    flex: 0 0 90vw !important;
    height: 160px !important;
  }
}




@media only screen and (max-width: 767px) {
  .preview header {
    display: none;
  }
}
