@media only screen and (max-width: 1030px) {
  header {
    /* decrease h-paddings */
    padding-left: 30px;
    padding-right: 30px;
  }

  footer nav {
    /* decrease h-paddings */
    padding-left: 20px;
    padding-right: 20px;
  }

}

/*todo: jat nije v procentah */
@media only screen and (max-width: 930px) {

}

@media only screen and (max-width: 780px) {
  .portfolio article {
    /*todo: get rid of importants*/
    flex: 0 0 90vw !important;
    height: 160px !important;
  }
}

@media only screen and (max-width: 767px) {
  .preview header {
    display: none;
  }
}

#nav-menu,
.nav-menu-open-label,
.nav-menu-close-label {
  display: none;
}

@media only screen and (max-width: 768px) {

  header nav {
    display: none;
  }

  .vertical-separator {
    display: none;
  }

  .nav-menu-open-label,
  .nav-menu-close-label {
    display: block;
    width: 1em;
    height: 1em;
    font-size: 3em;
    color: white;
  }

  .nav-menu-close-label {
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
  }

  #nav-menu ~ .nav-menu-close-label {
    display: none;
  }

  #nav-menu:checked ~ .logo,
  #nav-menu:checked ~ .nav-menu-open-label {
    display: none;
  }

  #nav-menu:checked ~ .nav-menu-close-label {
    display: block;
  }

  #nav-menu:checked ~ nav {
    display: flex;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  header nav {

    flex-direction: column;
  }

  header nav ul {
    flex-direction: column;
    justify-content: space-around;
    font-size: 2em;

  }

  footer nav{
    justify-content: space-around;
  }

  footer nav ul{
    display: none;
  }

}
