@import "main.css";


.portfolio{
    background-image: url("../images/portfolio/portfolio-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

.portfolio .container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 1200px;
}

.portfolio article{
    box-sizing: border-box;
    padding: 0 55px;
    border: 1px solid #D8D8D8;
    flex:0 0 360px;
    height: 220px;
    margin: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: #0D2731;
    line-height: 21px;
}

.portfolio article a{
    color: #0D2731;
    margin-bottom: 15px;
}

.portfolio article a:hover{
    color: #1DC8D6;
    text-decoration: underline;
}



[class^=work-logo]{
    width: 250px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center center;

}

.work-logo-1{
    background-image: url("../images/portfolio/img-our-works-2.png");
}
.work-logo-2{
    background-image: url("../images/portfolio/img-our-works-1.png");
}
.work-logo-3{
    background-image: url("../images/portfolio/img-our-works-2.png");
}
.work-logo-4{
    background-image: url("../images/portfolio/img-our-works-4.png");
}
.work-logo-5{
    background-image: url("../images/portfolio/img-our-works-3.png");
}
.work-logo-6{
    background-image: url("../images/portfolio/img-our-works-4.png");
}



