@import "main.css";
section.portfolio{
  justify-content: space-around;
}

.portfolio{
    background-image: url("../images/portfolio/portfolio-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

.portfolio .container{
   max-width: 1200px;
}

.portfolio article{
    box-sizing: border-box;
    padding:2vh 6vw;
    border: 1px solid #D8D8D8;
    flex:1 1;
    margin: 1.5vh 1.5vw;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    color: #0D2731;

}

.portfolio span{
  text-align: center;
}

.portfolio article{
  flex-direction: column;
}

.portfolio article .logo-block{
  text-align: center;
}

.portfolio article a{
    color: #0D2731;
    line-height: 4em;
}

.portfolio article a:hover{
    color: #1DC8D6;
    text-decoration: underline;
}



[class^=work-logo]{
    width: 9rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 168px 58px;

}

.work-logo-1{
    background-image: url("../images/portfolio/img-our-works-2.png");
}
.work-logo-2{
    background-image: url("../images/portfolio/img-our-works-1.png");
}
.work-logo-3{
    background-image: url("../images/portfolio/img-our-works-2.png");
}
.work-logo-4{
    background-image: url("../images/portfolio/img-our-works-4.png");
}
.work-logo-5{
    background-image: url("../images/portfolio/img-our-works-3.png");
}
.work-logo-6{
    background-image: url("../images/portfolio/img-our-works-4.png");
}



