.preview{
    background-image: url('../images/img-video.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview header{
  background-image: none;
}

.preview  a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}

.preview .title{
    margin-top: auto;
    margin-bottom:auto;
}

.title>span{
    font-size:65px;
    text-align: center;
}
