@import "main.css";

.services .container {
  width: 100vw;
}

.services .container.separate-container {
  flex-direction: column;
  flex-wrap: nowrap;
}

.services .container.separate-container article {
  display: flex;
  flex-direction: row;
  width: auto;
  border-bottom: 1px solid rgba(151, 151, 151, 0.21);
}

.service-content {
  max-width: 690px;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 20px;
}

.services article .service-content p {
  text-align: start;
}

.services article {
  margin: 30px;
  display: flex;
  width: 262px;
  flex-direction: column;
  align-items: center;
  color: #0D2731;
}

.services article h2 {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 16px;
}

.services article p {
  font-size: 0.8em;
  color: rgba(13, 39, 49, 0.65);
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
}

[class^=service-logo] {
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center center;

}

.services a {
  margin-bottom: auto;
  margin-top: auto;
}

.services img {

}

@media only screen and (max-width: 700px) {
  .services .container.separate-container article {
    flex-direction: column;
  }

  .service-content{
    width: auto;
  }

}



